*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/* body{
	background-image: url('../img/002.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment:scroll ; fixed
} */

.box{
	border: 1px solid red;
	margin: auto;
	width: 600px;
	height: 600px;
	text-align: center;
	line-height: 600px;
	border-radius: 600px;
	background-color: #9b59b6;
	/* background-position: center right; */
}

.box a{
	background-color: #2980b9;
	padding: 25px;
	color: #fff;
	font-weight: bold;

}

